<div class="page-header">
    <div class="row" >
        <div class="col-sm-6">
            <h4><i class="fa fa-users"></i>&nbsp;Customers</h4>
        </div>
        <div class="col-sm-6 text-right">
            <ol class="breadcrumb">
                <li><a href="javascript: void(0);"><i class="fa fa-tachometer"></i></a></li>
                <li>Dashboard</li>
                <li>Customers</li>
            </ol>
        </div>
    </div>
</div>
    
    <div class="row" >
        <br><br>
        <div class="col-sm-push-2 col-sm-8 " >
            <div class="panel panel-default" style="border: #dde6e9 solid 1px;">
                <div class="panel-heading">
                    <div style="float:left;"> <i class="fa fa-users"></i> Edit Customer </div>
                    <div style="float:right;"></div>
                    <div style="clear:both;"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <small></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a href="#/Customers/list"> <i class="fa fa-list-alt"></i> Customers</a> 
                        </div>
                    </div>
                    <div class="row">                          
                        <form name="ncForm" novalidate>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Last name {{"|" + ucc.dataChanged() + "|"}}</label>
                                        <input type="text" class="form-control" 
                                               ng-model="ucc.Customer2Update.lastName"  
                                               name="lastName" required>                                        
                                        <div ng-messages="ncForm.lastName.$error" ng-if="ncForm.lastName.$dirty" class="help-block" role="alert">
                                            <div ng-message="required"><small><i class="fa fa-asterisk"></i> Last name  is mandatory.</small></div>                                                               
                                        </div>    
                                    </div>
                                    <div class="col-sm-push-2 col-sm-5">
                                        <label>First name</label>
                                        <input type="text" class="form-control" 
                                               ng-model="ucc.Customer2Update.firstName" 
                                               list="lstFirstNames" name="firstName" required>

                                        <div ng-messages="ncForm.firstName.$error" ng-show="ncForm.firstName.$dirty" class="help-block" role="alert">
                                            <div ng-message="required"><small><i class="fa fa-asterisk"></i> First name  is mandatory.</small></div>
                                        </div>
                                    </div>               
                                </div>  
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Cell phone</label>
                                        <input type="text" class="form-control" ng-model="ucc.Customer2Update.cellPhone"
                                               name="cellphone">                                        
                                    </div>
                                    <div class="col-sm-push-2 col-sm-5">
                                        <label>Date of birth</label>
                                        <div class="input-group">
                                            <input type="date" id="cdp" 
                                                   class="form-control" 
                                                   ng-model="ucc.Customer2Update.tbdate"
                                                   name="bdate" data-date-format="DD-MM-YYYY">                                                                                
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Display Image</label>
                                                <input type="text" class="form-control" ng-model="ucc.Customer2Update.disPic" 
                                                       list="lstDisPics" ng-focus="ucc.toggleImageList();"
                                                       name="disPic" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" ng-show="ucc.showImageList" style="height:150px; overflow-y: scroll;">
                                                <ul ng-repeat="p in ucc.disPics | filter: ucc.Customer.data.disPic  track by $index" style="cursor:pointer;list-style:none;">
                                                    <li value="{{p}}" ng-click="ucc.selectDisPic(p);"><img ng-src="{{'images/dispPic/' + p}}" style="width:50px;height:50px;border-radius:50px;"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>            
                                </div>   
                                <div class="row">
                                    <div class="col-sm-12" ng-show="ucc.alerts.isComplete();">
                                        
                                        <div class="alert alert-success" ng-show="ucc.alerts.isComplete() && !ucc.alerts.hasError()">
                                            <i class="fa fa-check-circle"></i> {{ucc.alerts.getMessage()}}
                                        </div>
                                        <div class="alert alert-danger" ng-show="ucc.alerts.isComplete() && ucc.alerts.hasError()">
                                            <i class="fa fa-exclamation-triangle"></i> {{ucc.alerts.getMessage()}}
                                        </div>  
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-sm-3 pull-right">
                                        <buton class="btn btn-primary" ng-show="ncForm.$valid && ucc.dataChanged()" ng-click="ucc.updateCustomer();"><i class="fa fa-save"></i> Save</buton>
                                        <button class="btn btn-default" ng-click="ucc.resetForm();">Reset</button>
                                    </div>
                                </div>                          
                            </div>           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
